@model List<List<string>>
@{
    ViewData["Title"] = "Saper";
}

<h1>Saper</h1>

@if(Model == null)
{
    <p>ERROR!!!</p>
}
else
{
@for (int i = 0; i < Model.Count(); i++)
{
    <div>
    @for (int j = 0; j < Model[i].Count(); j++)
    {
        if (Model[i][j] == "#")
        {
                <div style="display:inline-block; border:solid; border-width:thin; margin: 2px; height: 35px; width: 35px; text-align: center; background-color: red">&#128163</div>
        }
        else if (Model[i][j] != "0")
        {
               
                <div style="display:inline-block; border:solid; border-width:thin; margin: 2px; height: 35px; width: 35px; text-align: center; background-color: white">@Model[i][j]</div>
        }
        else
        {
                <div style="display:inline-block; border:solid; border-width:thin; margin: 2px;  height: 35px; width: 35px; text-align: center; background-color:gainsboro">@Model[i][j]</div>
        }
       
    }
    </div>
}
}

